body {
  overflow: hidden;
}

.team-card {
  display: inline-block;
  position: absolute;
}

.team {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.team-code {
  text-transform: uppercase;
}

.team-name {
  font-size: 0.2rem;
}

.team-card .team .flag-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
}