body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sound-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sound-button {
  outline: 1px solid black;
  padding: 3rem;
  cursor: pointer;
  user-select: none;
  margin: 1rem;
}

.sound-button:active {
  box-shadow: 0 0 .5em black;
}

.sound-emoji {
  font-size: 8rem;
}