.coffeeContainer {
  height: 75px;
  width: 40px;
  transform-origin: top center;
  transform: perspective(200px) rotateX(-50deg);
  position: absolute;
  left: 320px;
  bottom: 94px;
}

.cupTop {
  height: 10%;
  border: 4px solid black;
  border-radius: 10px;
  transform: translateX(-5px);
  background: white;
}

.cup {
  height: 90%;
  background: rgba(255, 255, 255, 0.5);
  border: 4px solid black;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  box-shadow: inset 0px 0px 0px 0.5px black;
  opacity: 0.8;
}
